@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}
:root {
    /* font family */
    --text-family: "Poppins", serif;
    --text-primary: "Josefin Slab", serif;
    /* font family end */

    /* font weight */
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;
    --text-semibold: 600;
    --text-light: 300;
    /* font weight end */

    /* font size */
    --text-head: 24px;
    --text-body: 20px;
    --button-font: 18px;
    --button-font-two: 16px;
    --text-sub-head:32px;
    
    /* font size  end*/

    /* color */
    --primary-color: #00EEFF;
    --primary-color-two: #007474;
    --primary-color-three:#10434B;
    --primary-color-four: #002A2D;
    --secondary-color: #151515;
    --card-color: #5A9DA2;
    --text-color:#C6FCFF;
    --main-color: #ADFAFF;
    --sub-color: #E9FBFF;
    --foot-bg:#C6F8FC;
    --bg-color: #060606;
    --hover-color: #07636a;

    /* color end */

}
body {
    background-color: var(--bg-color);
}
/* header start */
header {
    width: 100%;
    height: 100vh;

}
/* nav start */
/* nav start */
header nav {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header .nav-wrap{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header nav .nav-wrap .logo{
    width: 15%;
    height: 70%;
}
header nav .nav-wrap .logo img {
    width: 100%;
    height: 100%;
}

header nav .nav-wrap button {
    background-color: var(--primary-color);
    width: 15%;
    color: black;
    border: none;
    border-radius: 50px;
    font-family: var(--text-family);
    font-size: var(--button-font);
    font-weight: var(--text-semibold);
    padding: 15px 47px;
}

header nav .nav-wrap .option ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav .nav-wrap .option ul li {
    list-style: none;

}

header nav .nav-wrap .option ul li a {
    text-decoration: none;
    color: var(--primary-color-two);
    font-family: var(--text-family);
}

header nav .nav-wrap ul li a .aboutus {
    border-bottom: 2px solid var(--primary-color);
    color: var(--main-color);
}

header nav .nav-wrap .option {
    width: 50%;
    height: auto;
}
/* nav end */
/* banner */
.container {
    background: url(../Assets/Images/aboutus/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: var(--text-family);
    font-size: var(--text-head);
    gap: 10px;
}
.container h1 .one {
    color: var(--primary-color);
}
.container p {
    font-size: var(--button-font);
    font-weight: var(--text-regular);
}
header .container a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: black;
    border: none;
    border-radius: 30px;
    font-family: var(--text-family);
    font-weight: var(--text-semibold);
    font-size: var(--button-font);
    padding: 10px 15px;
}
header .container a:hover{
    background-color: var(--hover-color);
    color: white;
}
/* banner end */
/* section2 start */
#section_two{
    width: 100%;
    height: 200vh;
    font-family: var(--text-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section_two .whole{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
/* vision */
#section_two .whole .vision{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section_two .whole .vision .vimg{
    width: 50%;
    height: 100%;
}
#section_two .whole .vision .vimg img{
    width: 100%;
    height: 100%;
}
#section_two .whole .vision .vcontent{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
    gap: 20px;
}
#section_two .whole .vision .vcontent .vheading h3{
    color: var(--primary-color);
}
/* vision end */
/* mission  */
#section_two .whole .mission{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section_two .whole .mission .mimg{
    width: 50%;
    height: 100%;
}
#section_two .whole .mission .mimg img{
    width: 100%;
    height: 100%;
}
#section_two .whole .mission .mcontent{
    width: 50%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
    gap: 20px;
}
#section_two .whole .mission .mcontent .mheading h3{
    color: var(--primary-color);
}
/* mission end */
/* section2 end */
/* section3 start */
#section_three {
    width: 100%;
    height: 70vh;
    font-family: var(--text-family);
    display: flex;
    align-items: center;
    justify-content: center;
  
}
#section_three .wrapper{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#section_three .wrapper h2{
    font-size: 32px;
    color: white;
    text-align: center;
}
#section_three .wrapper .parent{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
#section_three .wrapper .parent .transparency{
    width: 30%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
#section_three .wrapper .parent .transparency .icon_one{
    width: 20%;
    height: 30%;
    display: flex;
    align-self: end;
}
#section_three .wrapper .parent .transparency .icon_one img{
    width: 100%;
    height: 100%;
    object-fit: contain ;
}
#section_three .wrapper .parent .transparency .content{
    width: 100%;
    height:70% ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#section_three .wrapper .parent .accountability{
    width: 30%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
#section_three .wrapper .parent .accountability .icon_two{
    width: 20%;
    height: 30%;
    display: flex;
    align-self: end;
}
#section_three .wrapper .parent .accountability .icon_two img{
    width: 100%;
    height: 100%;
    object-fit: contain ;
}
#section_three .wrapper .parent .accountability .content{
    width: 90%;
    height:70% ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#section_three .wrapper .parent .justice{
    width: 30%;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;

}
#section_three .wrapper .parent .justice .icon_three{
    width: 20%;
    height: 30%;
    display: flex;
    align-self: end;
}
#section_three .wrapper .parent .justice .icon_three img{
    width: 100%;
    height: 100%;
        object-fit: contain ;

}
#section_three .wrapper .parent .justice .content{
    width: 90%;
    height:70% ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
/* section3 end */
/* section4 start */
#section_four
{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: var(--text-family);
}
#section_four .wrap{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
}
#section_four .wrapper{
    height: 400px;    
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
#section_four .wrapper .team{
    height: 20%;
    width: 100%;
    /* background-color: navy; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#section_four .wrapper .team h1{
    font-weight: 900;
    font-size: 50px;
}
#section_four .wrapper .members{
    height: 80%;
    width: 100%;
    font-size: 60px;
}
#section_four .wrapper .members .scroller{
    height:100%;
    width: 100%;
    /* background-color: red;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#section_four .wrapper .members .scroller .person-card{
    height: 100%;
    width: 18%;
}
#section_four .wrapper .members .scroller .person-card  .person-image-container{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: lightcoral; */
}
#section_four .wrapper .members .scroller .person-card  .person-image-container img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    object-fit: contain;
}
#section_four .wrapper .members .scroller .person-card  .person-content-container{
    height: 30%;
    width: 100%;
    /* background-color: navy; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#section_four .wrapper .members .scroller .person-card  .person-content-container h1{
    font-size: 24px;
    color: white
}
#section_four .wrapper .members .scroller .person-card  .person-content-container p{
    font-size: 18px;
    color: white;
}


/* section4 end */
/* section5 start  */
#section_five{
    width: 100%;
    height: 150vh;
    font-family: var(--text-family);
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section_five .wrapper{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#section_five .wrapper h1{
    font-size: 36px;
    color: white;
    text-align: center;
}
#section_five .wrapper .storycardone {
    width: 100%;
    height: 40%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#section_five .wrapper .storycardone .storyimage {
    width: 30%;
    height: 90%;
}
#section_five .wrapper .storycardone .storyimage img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#section_five .wrapper .storycardone .storycontent {
    width: 50%;
    height: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}
#section_five .wrapper .storycardone .storycontent h1{
    font-size: 26px;
}
#section_five .wrapper .storycardtwo {
    width: 100%;
    height: 40%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#section_five .wrapper .storycardtwo .storyimage {
    width: 30%;
    height: 90%;
}
#section_five .wrapper .storycardtwo .storyimage img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#section_five .wrapper .storycardtwo .storycontent {
    width: 50%;
    height: 100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}
#section_five .wrapper .storycardtwo .storycontent h1{
    font-size: 26px;
}
/* section5 end  */
/* media  */
@media only screen and (max-width:1169px) {
    #section_four .wrapper .members .scroller .person-card .person-content-container h1 {
        font-size: 22px;
    }
}
@media only screen and (max-width:1110px) {
    #section_five .wrapper .storycardone .storyimage {
        width: 40%;
    }
    
    #section_five .wrapper .storycardtwo .storyimage {
        width: 40%;
    }
    
}
@media only screen and (max-width:1078px) {
    #section_four .wrapper .members .scroller .person-card .person-image-container {
        height: 60%;
}
#section_four .wrapper .members .scroller .person-card{
    height: 80%;
}
#section_four .wrapper .members .scroller .person-card .person-content-container h1 {
    font-size: 20px;
}
#section_four .wrapper .members .scroller .person-card .person-content-container p {
    font-size: 14px;
}

}
@media only screen and (max-width:1000px) {
    #section_two {
        width: 100%;
        height: 160vh;
    }

    #section_two .whole .vision .vimg {
        width: 50%;
    }

    #section_two .whole .vision .vcontent .vpara p {
        font-size: 14px;
    }

    #section_two .whole .mission .mcontent .mpara p {
        font-size: 14px;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 20%;
        height: 20%;
    }

    #section_two .whole .vision .vcontent .vicon img {
        width: 100%;
        height: 100%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 20%;
        height: 20%;
    }

    #section_two .whole .mission .mcontent .micon img {
        width: 100%;
        height: 100%;
    }
}
@media only screen and (max-width:983px) {
    #section_three .wrapper .parent .transparency .content h3 {
        font-size: 16px;
    }

    #section_three .wrapper .parent .transparency .content p {
        font-size: 14px;
    }

    #section_three .wrapper .parent .accountability .content h3 {
        font-size: 16px;
    }

    #section_three .wrapper .parent .accountability .content p {
        font-size: 14px;
    }

    #section_three .wrapper .parent .justice .content h3 {
        font-size: 16px;
    }

    #section_three .wrapper .parent .justice .content p {
        font-size: 14px;
    }
}
@media only screen and (max-width:974px) {
    #section_four .wrapper .members .scroller .person-card .person-content-container h1 {
        font-size: 18px;
    }
    #section_four .wrapper .members .scroller .person-card .person-content-container p {
        font-size: 14px;
    }

}
@media only screen and (max-width:910px) {
    #section_two {
        width: 100%;
        height: 150vh;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .vision .vcontent .vpara p {
        font-size: 12px;
    }

    #section_two .whole .mission .mcontent .mpara p {
        font-size: 12px;
    }
}
@media only screen and (max-width:897px) {
    #section_three {
        height: 100vh;
    }

    #section_three .wrapper .parent {
        flex-wrap: wrap;
        align-content: center;
        justify-content: start;
        gap: 20px;
    }

    #section_three .wrapper .parent .transparency {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .accountability {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .justice {
        width: 48%;
        height: 50%;
    }
}
@media only screen and (max-width:878px) {
    #section_three .wrapper .parent .transparency .content p {
        font-size: 12px;
    }

    #section_three .wrapper .parent .accountability .content p {
        font-size: 12px;
    }

    #section_three .wrapper .parent .justice .content p {
        font-size: 12px;
    }
}
@media only screen and (max-width:877px){
    #section_four .wrapper .members{
        height: auto;
        overflow-x: scroll;
    }
    #section_four .wrapper .members .scroller{
        height: 300px;
        width: 200%;
        justify-content: start;
        gap:20px;
    }
    #section_four .wrapper .members .scroller .person-card{
        width: 250px;
    }
    #section_four .wrapper .members .scroller .person-card  .person-image-container{
        height: 60%;
    }
    #section_four .wrapper .members .scroller .person-card  .person-content-container{
        height: 40%;
    }
}
@media only screen and (max-width:809px) {
    #section_five .wrapper .storycardone .storycontent h1 {
        font-size: 22px;
    }

    #section_five .wrapper .storycardtwo .storycontent h1 {
        font-size: 22px;
    }
}
@media only screen and (max-width:800px) {
    #section_two {
        width: 100%;
        height: 140vh;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .vision .vcontent .vheading h1 {
        font-size: 20px;
    }

    #section_two .whole .mission .mcontent .mheading h1 {
        font-size: 20px;
    }

    #section_two .whole .vision .vcontent .vheading h3 {
        font-size: 20px;
    }

    #section_two .whole .mission .mcontent .mheading h3 {
        font-size: 20px;
    }
    #section_three {
        height: 100vh;
    }

    #section_three .wrapper .parent {
        flex-wrap: wrap;
        align-content: center;
        justify-content: start;
        gap: 20px;
    }

    #section_three .wrapper .parent .transparency {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .accountability {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .justice {
        width: 48%;
        height: 50%;
    }

}
@media only screen and (max-width:768px) {
    #section_two {
        width: 100%;
        height: 250vh;
    }

    #section_two .whole .vision {
        flex-direction: column;
    }

    #section_two .whole .vision .vimg {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .vision .vcontent {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .mission {
        flex-direction: column;
    }

    #section_two .whole .mission .mimg {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .mission .mcontent {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 15%;
        height: 25%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 15%;
        height: 25%;
    }
}
@media only screen and (max-width:685px) {
    #section_five {
        height: 170vh;
    }

    #section_five .wrapper .storycardone {
        width: 80%;
        height: 45%;
        flex-direction: column;
    }

    #section_five .wrapper .storycardone .storycontent {
        width: 80%;
        height: 40%;
    }

    #section_five .wrapper .storycardone .storyimage {
        width: 80%;
        height: 50%;
    }

    #section_five .wrapper .storycardone .storycontent h1 {
        font-size: 18px;
    }

    #section_five .wrapper .storycardone .storycontent p {
        font-size: 14px;
    }

    #section_five .wrapper .storycardtwo {
        width: 80%;
        height: 45%;
        flex-direction: column-reverse;

    }

    #section_five .wrapper .storycardtwo .storycontent {
        width: 80%;
        height: 40%;
    }

    #section_five .wrapper .storycardtwo .storyimage {
        width: 80%;
        height: 50%;
    }

    #section_five .wrapper .storycardtwo .storycontent h1 {
        font-size: 18px;
    }

    #section_five .wrapper .storycardtwo .storycontent p {
        font-size: 14px;
    }
}
@media only screen and (max-width:653px) {
    #section_two {
        width: 100%;
        height: 230vh;
    }

    #section_two .whole .vision .vimg {
        height: 60%;
        width: 80%;
    }

    #section_two .whole .vision .vcontent {
        height: 60%;
        width: 80%;
    }

    #section_two .whole .mission .mimg {
        height: 50%;
        width: 80%;
    }

    #section_two .whole .mission .mcontent {
        height: 50%;
        width: 80%;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 20%;
        height: 30%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 20%;
        height: 30%;
    }

    #section_two .whole .vision .vcontent .vheading h1 {
        font-size: 18px;
    }

    #section_two .whole .mission .mcontent .mheading h1 {
        font-size: 18px;
    }

    #section_two .whole .vision .vcontent .vheading h3 {
        font-size: 18px;
    }

    #section_two .whole .mission .mcontent .mheading h3 {
        font-size: 18px;
    }

    #section_two .whole .vision .vcontent .vpara p {
        font-size: 10px;
    }

    #section_two .whole .mission .mcontent .mpara p {
        font-size: 10px;
    }
}
@media only screen and (max-width:564px) {
   #section_two .whole .vision .vimg {
        height: 60%;
        width: 90%;
    }

    #section_two .whole .vision .vcontent {
        height: 60%;
        width: 90%;
    }

    #section_two .whole .mission .mimg {
        height: 60%;
        width: 90%;
    }

    #section_two .whole .mission .mcontent {
        height: 60%;
        width: 90%;
    }
}
@media only screen and (max-width:555px) {
    #section_three {
        height: 150vh;
    }

    #section_three .wrapper .parent {
        align-content: center;
        justify-content: center;
    }

    #section_three .wrapper .parent .transparency {
        width: 70%;
        height: 33%;
    }

    #section_three .wrapper .parent .accountability {
        width: 70%;
        height: 33%;
    }

    #section_three .wrapper .parent .justice {
        width: 70%;
        height: 33%;
    }
}
@media only screen and (max-width:494px){
    #section_four .wrapper .members{
        height: auto;
        overflow-x: scroll;
    }
    #section_four .wrapper .members .scroller{
        height: 300px;
        width: 300%;
        justify-content: start;
        gap:20px;
    }
    #section_four .wrapper .members .scroller .person-card{
        width: 200px !important;
    }
    #section_four .wrapper .members .scroller .person-card  .person-image-container{
        height: 60%;
    }
    #section_four .wrapper .members .scroller .person-card  .person-content-container{
        height: 40%;
    }
}
@media only screen and (max-width:470px) {
    #section_three {
        height: 120vh;
    }

    #section_three .wrapper .parent {
        align-content: center;
        justify-content: center;
    }

    #section_three .wrapper .parent .transparency {
        width: 90%;
        height: 33%;
    }

    #section_three .wrapper .parent .accountability {
        width: 90%;
        height: 33%;
    }

    #section_three .wrapper .parent .justice {
        width: 90%;
        height: 33%;
    }
}
@media only screen and (max-width:439px) {
    #section_five .wrapper .storycardone .storycontent h1 {
        font-size: 16px;
    }

    #section_five .wrapper .storycardone .storycontent p {
        font-size: 12px;
    }

    #section_five .wrapper .storycardtwo .storycontent h1 {
        font-size: 16px;
    }

    #section_five .wrapper .storycardtwo .storycontent p {
        font-size: 12px;
    }
}

@media only screen and (max-width:375px) {
    #section_five .wrapper .storycardone {
        width: 100%;
    }

    #section_five .wrapper .storycardone .storycontent {
        width: 90%;
    }

    #section_five .wrapper .storycardone .storyimage {
        width: 90%;
    }

    #section_five .wrapper .storycardtwo {
        width: 100%;
    }

    #section_five .wrapper .storycardtwo .storycontent {
        width: 90%;
    }

    #section_five .wrapper .storycardtwo .storyimage {
        width: 90%;
    }
}
        @media only screen and (max-width:329px) {
                #section_four .wrapper .members .scroller .person-card .person-content-container h1 {
        font-size: 16px;
    }

        }