@media only screen and (max-width:1000px) {
    #section_two {
        width: 100%;
        height: 160vh;
    }

    #section_two .whole .vision .vimg {
        width: 50%;
    }

    #section_two .whole .vision .vcontent .vpara p {
        font-size: 14px;
    }

    #section_two .whole .mission .mcontent .mpara p {
        font-size: 14px;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 20%;
        height: 20%;
    }

    #section_two .whole .vision .vcontent .vicon img {
        width: 100%;
        height: 100%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 20%;
        height: 20%;
    }

    #section_two .whole .mission .mcontent .micon img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width:910px) {
    #section_two {
        width: 100%;
        height: 150vh;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .vision .vcontent .vpara p {
        font-size: 12px;
    }

    #section_two .whole .mission .mcontent .mpara p {
        font-size: 12px;
    }
}

@media only screen and (max-width:800px) {
    #section_two {
        width: 100%;
        height: 140vh;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 15%;
        height: 15%;
    }

    #section_two .whole .vision .vcontent .vheading h1 {
        font-size: 20px;
    }

    #section_two .whole .mission .mcontent .mheading h1 {
        font-size: 20px;
    }

    #section_two .whole .vision .vcontent .vheading h3 {
        font-size: 20px;
    }

    #section_two .whole .mission .mcontent .mheading h3 {
        font-size: 20px;
    }

}

@media only screen and (max-width:768px) {
    #section_two {
        width: 100%;
        height: 250vh;
    }

    #section_two .whole .vision {
        flex-direction: column;
    }

    #section_two .whole .vision .vimg {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .vision .vcontent {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .mission {
        flex-direction: column;
    }

    #section_two .whole .mission .mimg {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .mission .mcontent {
        height: 50%;
        width: 70%;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 15%;
        height: 25%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 15%;
        height: 25%;
    }
}

@media only screen and (max-width:653px) {
    #section_two {
        width: 100%;
        height: 230vh;
    }

    #section_two .whole .vision .vimg {
        height: 60%;
        width: 80%;
    }

    #section_two .whole .vision .vcontent {
        height: 60%;
        width: 80%;
    }

    #section_two .whole .mission .mimg {
        height: 60%;
        width: 80%;
    }

    #section_two .whole .mission .mcontent {
        height: 60%;
        width: 80%;
    }

    #section_two .whole .vision .vcontent .vicon {
        width: 10%;
        height: 20%;
    }

    #section_two .whole .mission .mcontent .micon {
        width: 10%;
        height: 20%;
    }

    #section_two .whole .vision .vcontent .vheading h1 {
        font-size: 18px;
    }

    #section_two .whole .mission .mcontent .mheading h1 {
        font-size: 18px;
    }

    #section_two .whole .vision .vcontent .vheading h3 {
        font-size: 18px;
    }

    #section_two .whole .mission .mcontent .mheading h3 {
        font-size: 18px;
    }

    #section_two .whole .vision .vcontent .vpara p {
        font-size: 10px;
    }

    #section_two .whole .mission .mcontent .mpara p {
        font-size: 10px;
    }
}

/* section three values */
@media only screen and (max-width:983px) {
    #section_three .wrapper .parent .transparency .content h3 {
        font-size: 16px;
    }

    #section_three .wrapper .parent .transparency .content p {
        font-size: 14px;
    }

    #section_three .wrapper .parent .accountability .content h3 {
        font-size: 16px;
    }

    #section_three .wrapper .parent .accountability .content p {
        font-size: 14px;
    }

    #section_three .wrapper .parent .justice .content h3 {
        font-size: 16px;
    }

    #section_three .wrapper .parent .justice .content p {
        font-size: 14px;
    }
}

@media only screen and (max-width:878px) {
    #section_three .wrapper .parent .transparency .content p {
        font-size: 12px;
    }

    #section_three .wrapper .parent .accountability .content p {
        font-size: 12px;
    }

    #section_three .wrapper .parent .justice .content p {
        font-size: 12px;
    }
}

@media only screen and (max-width:800px) {
    #section_three {
        height: 100vh;
    }

    #section_three .wrapper .parent {
        flex-wrap: wrap;
        align-content: center;
        justify-content: start;
        gap: 20px;
    }

    #section_three .wrapper .parent .transparency {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .accountability {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .justice {
        width: 48%;
        height: 50%;
    }
}

@media only screen and (max-width:897px) {
    #section_three {
        height: 100vh;
    }

    #section_three .wrapper .parent {
        flex-wrap: wrap;
        align-content: center;
        justify-content: start;
        gap: 20px;
    }

    #section_three .wrapper .parent .transparency {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .accountability {
        width: 48%;
        height: 50%;
    }

    #section_three .wrapper .parent .justice {
        width: 48%;
        height: 50%;
    }
}

@media only screen and (max-width:555px) {
    #section_three {
        height: 150vh;
    }

    #section_three .wrapper .parent {
        align-content: center;
        justify-content: center;
    }

    #section_three .wrapper .parent .transparency {
        width: 70%;
        height: 33%;
    }

    #section_three .wrapper .parent .accountability {
        width: 70%;
        height: 33%;
    }

    #section_three .wrapper .parent .justice {
        width: 70%;
        height: 33%;
    }
}

@media only screen and (max-width:470px) {
    #section_three {
        height: 150vh;
    }

    #section_three .wrapper .parent {
        align-content: center;
        justify-content: center;
    }

    #section_three .wrapper .parent .transparency {
        width: 90%;
        height: 33%;
    }

    #section_three .wrapper .parent .accountability {
        width: 90%;
        height: 33%;
    }

    #section_three .wrapper .parent .justice {
        width: 90%;
        height: 33%;
    }
}

/* section four  */
@media only screen and (max-width:1024px) {
    #section_four .wrapper .team {
        height: 65%;
    }

    #section_four .wrapper .members .wrapper .personone {
        height: 63%;
    }

    #section_four .wrapper .members .wrapper {
        top: 377%;
    }
}

@media only screen and (max-width:1001px) {
    #section_four .wrapper .members .wrapper {
        top: 337%;
    }

    #section_four .wrapper .members .wrapper .personone .content h2 {
        font-size: 22px;
    }
}
@media only screen and (max-width:923px) {
    #section_four .wrapper .members .wrapper .personone {
        height: 55%;
    }   
}
@media only screen and (max-width:910px) {
    #section_four .wrapper .members .wrapper {
        top: 325%;
    }
    #section_four .wrapper .members .wrapper .personone .content h2 {
        font-size: 20px;
    }
}
@media only screen and (max-width:897px) {
    #section_four .wrapper .members .wrapper {
        top: 355%;
    }
}
@media only screen and (max-width:821px) {
    #section_four .wrapper .members .wrapper .personone .content h2 {
        font-size: 18px;
    }
    #section_four .wrapper .members .wrapper .personone .content p {
        font-size: 14px;
    }
}
@media only screen and (max-width:801px) {
    #section_four .wrapper .team {
        height: 55%;
    }
    #section_four .wrapper .members .wrapper {
        top: 337%;
    }
    #section_four .wrapper .members .wrapper .personone {
        height: 48%;
    }
}
    @media only screen and (max-width:769px) {
        #section_four .wrapper .members .wrapper {
            top: 448%;
        }
    }
    @media only screen and (max-width:739px) {
        #section_four .wrapper .members .wrapper .personone .content h2 {
            font-size: 16px;
        }
        #section_four .wrapper .members .wrapper .personone .content p {
            font-size: 12px;
        }
    }
    @media only screen and (max-width:657px) {
        #section_four .wrapper .team {
            height: 63%;
        }
        #section_four .wrapper .members {
        width: 100%;
        padding: 30px;
        overflow-x: scroll;
        scrollbar-width: none;
        }
        #section_four .wrapper .members .wrapper {
          
            display: flex;
            gap:30px;
            top: 469%;


        }
        #section_four .wrapper .members .wrapper .personone {
            width: 90%;
            height: 95%;
        }
        #section_four .wrapper .members .wrapper .personone .content h2 {
            font-size: 24px;
        }
        #section_four .wrapper .members .wrapper .personone .content p {
            font-size: 16px;
        }

    }
    @media only screen and (max-width:653px) {
        #section_four .wrapper .members .wrapper {
            top: 450%;
        }
    }
    @media only screen and (max-width:590px) {
        #section_four .wrapper .members .wrapper .personone {
            height: 87%;
        }
    }
    @media only screen and (max-width:555px) {
        #section_four .wrapper .members .wrapper {
            top: 498%;
        }
    }

/* section five */
@media only screen and (max-width:1110px) {
    #section_five .wrapper .storycardone .storyimage {
        width: 40%;
    }

    #section_five .wrapper .storycardtwo .storyimage {
        width: 40%;
    }

}

@media only screen and (max-width:809px) {
    #section_five .wrapper .storycardone .storycontent h1 {
        font-size: 22px;
    }

    #section_five .wrapper .storycardtwo .storycontent h1 {
        font-size: 22px;
    }
}

@media only screen and (max-width:685px) {
    #section_five {
        height: 200vh;
    }

    #section_five .wrapper .storycardone {
        width: 80%;
        height: 45%;
        flex-direction: column;
    }

    #section_five .wrapper .storycardone .storycontent {
        width: 80%;
        height: 40%;
    }

    #section_five .wrapper .storycardone .storyimage {
        width: 80%;
        height: 50%;
    }

    #section_five .wrapper .storycardone .storycontent h1 {
        font-size: 18px;
    }

    #section_five .wrapper .storycardone .storycontent p {
        font-size: 14px;
    }

    #section_five .wrapper .storycardtwo {
        width: 80%;
        height: 45%;
        flex-direction: column-reverse;

    }

    #section_five .wrapper .storycardtwo .storycontent {
        width: 80%;
        height: 40%;
    }

    #section_five .wrapper .storycardtwo .storyimage {
        width: 80%;
        height: 50%;
    }

    #section_five .wrapper .storycardtwo .storycontent h1 {
        font-size: 18px;
    }

    #section_five .wrapper .storycardtwo .storycontent p {
        font-size: 14px;
    }
}

@media only screen and (max-width:439px) {
    #section_five .wrapper .storycardone .storycontent h1 {
        font-size: 16px;
    }

    #section_five .wrapper .storycardone .storycontent p {
        font-size: 12px;
    }

    #section_five .wrapper .storycardtwo .storycontent h1 {
        font-size: 16px;
    }

    #section_five .wrapper .storycardtwo .storycontent p {
        font-size: 12px;
    }
}

@media only screen and (max-width:375px) {
    #section_five .wrapper .storycardone {
        width: 100%;
    }

    #section_five .wrapper .storycardone .storycontent {
        width: 90%;
    }

    #section_five .wrapper .storycardone .storyimage {
        width: 90%;
    }

    #section_five .wrapper .storycardtwo {
        width: 100%;
    }

    #section_five .wrapper .storycardtwo .storycontent {
        width: 90%;
    }

    #section_five .wrapper .storycardtwo .storyimage {
        width: 90%;
    }
}