@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    /* font family */
    --text-family: "Poppins", serif;
    --text-primary: "Josefin Slab", serif;
    /* font family end */

    /* font weight */
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;
    --text-semibold: 600;
    --text-light: 300;
    /* font weight end */

    /* font size */
    --text-head: 24px;
    --text-body: 20px;
    --button-font: 18px;
    --button-font-two: 16px;
    --text-sub-head:32px;
    
    /* font size  end*/

    /* color */
    --primary-color: #00EEFF;
    --primary-color-two: #007474;
    --primary-color-three:#10434B;
    --primary-color-four: #002A2D;
    --secondary-color: #151515;
    --card-color: #5A9DA2;
    --text-color:#C6FCFF;
    --main-color: #ADFAFF;
    --sub-color: #E9FBFF;
    --foot-bg:#C6F8FC;
    --bg-color: #060606;
    --hover-color: #07636a;

    /* color end */

}

body {
    background-color: var(--bg-color);
}

/* header start */
header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
header .wrapper{
    width: 100%;
    height: 100%;

}
/* nav start */
header .wrapper nav {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header .wrapper .nav-wrap{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .wrapper nav .nav-wrap .logo{
    width: 15%;
    height: 70%;
}
header .wrapper nav .nav-wrap .logo img {
    width: 100%;
    height: 100%;
}

header .wrapper nav .nav-wrap #button {
    background-color: var(--primary-color);
    color: black;
    border: none;
    border-radius: 50px;
    font-family: var(--text-family);
    font-size: var(--button-font);
    font-weight: var(--text-semibold);
    padding: 15px 47px;
}
header .wrapper nav .nav-wrap #button:hover {
    background-color: var(--hover-color);
    color: white;
}

header .wrapper nav .nav-wrap ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .wrapper nav .nav-wrap ul li {
    list-style: none;

}

header .wrapper nav .nav-wrap ul li a {
    text-decoration: none;
    color: var(--primary-color-two);
    font-family: var(--text-family);
}

header .wrapper nav .nav-wrap ul li a .volunteer {
    border-bottom: 2px solid var(--primary-color);
    color: var(--main-color);
}

/* nav end */
/* banner */
.container {
    background: url(../Assets/Images/volunteer/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: var(--text-family);
    font-size: var(--text-head);
    gap: 10px;

}

.container h1 {
    width: 40%;
    height: auto;
}

.container h1 .one {
    color: var(--primary-color);
}

.container p {
    font-size: var(--button-font);
    font-weight: var(--text-regular);
    width: 20%;

}
header .wrapper .container a{
    text-decoration: none;
    background-color: var(--primary-color);
    color: black;
    border: none;
    border-radius: 30px;
    font-family: var(--text-family);
    font-weight: var(--text-semibold);
    font-size: var(--button-font);
    padding: 10px 15px;
}
header .wrapper .container a:hover{
    background-color: var(--hover-color);
    color: white;
}


/* banner end */
/* section2 start */
#section_two{
    width: 100%;
    height: 200vh;
    font-family: var(--text-family);
    display: flex;
    justify-content: center;
    align-items: center;

}
#section_two .wrapper{
    width: 100%;
    height: 90%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}
#section_two h1{
    font-size: 32px;
}
#section_two h1 .two{
    color: var(--primary-color);
}
#section_two .gallery {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#section_two .gallery .row_one{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#section_two .gallery .row_one .photo_one{
    height: 100%;
    width: 60%;
}
#section_two .gallery .row_one .photo_one img{
    height: 100%;
    width: 100%;
}
#section_two .gallery .row_one .photo_two{
    height: 100%;
    width: 30%;
}
#section_two .gallery .row_one .photo_two img{
    height: 100%;
    width: 100%;
}
#section_two .gallery .row_two{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#section_two .gallery .row_two .photo_one{
    height: 100%;
    width: 60%;
}
#section_two .gallery .row_two .photo_one img{
    height: 100%;
    width: 100%;
}
#section_two .gallery .row_two .photo_two{
    height: 100%;
    width: 30%;
}
#section_two .gallery .row_two .photo_two img{
    height: 100%;
    width: 100%;
}
#section_two .content {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
#section_two .content h1{
    width: 100%;
    font-size: 32px;
    color: var(--text-color);
    text-align: center;
}
#section_two .content p{
    width: 100%;
    color: var(--text-color);
    text-align: center;
}
/* section2 end */
/* section 3 start */
#section_three{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text-family);
}
#section_three .wrapper{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section_three .side_image{
    width: 40%;
    height: 100%;
    background-color: var(--primary-color);
}
#section_three .side_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#section_three .form_side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#section_three .form_side .heading{
    color: white;
    text-align: center;
}
#section_three .form_side .heading .three{
    color: var(--primary-color);
}
#section_three .form_side .content{
    width: 60%;
    height: 90%;
    background-color: var(--sub-color);
    border-radius: 8px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#section_three .form_side .content form{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
}
#section_three .form_side .content form input{
    width: 100%;
    height: 7%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #000000;
    padding-left: 5px;
}

#section_three .form_side .content form .adjust{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}
#section_three .form_side .content form textarea{
    width: 100%;
    height: 15%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #000000;
    padding-left: 5px;
}
#section_three .form_side .content form #submit{
    border: none;
    border-radius: 20px;
    width: 30%;
    height: 8%;
    background-color: var(--primary-color);
    align-self: center;
    color: #000000;
    font-weight: 550;
}
/* section 3 end */
/* section 4 start */
#section_four {
    width: 100%;
    height: 100vh;
    font-family: var(--text-family);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
#section_four .final{
    width: 90%;
    height: 90%;
    background: url(../Assets/Images/volunteer/finalbanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
}
#section_four .final h1{
    font-size: 32px;
}
#section_four .final a{
    text-decoration: none;
    background-color: var(--primary-color);
    color: black;
    border: none;
    border-radius: 30px;
    font-family: var(--text-family);
    font-weight: var(--text-semibold);
    font-size: var(--button-font);
    padding: 10px 15px;
    
}
#section_four .final a:hover{
    background-color: var(--hover-color);
    color: white;
}
/* section 4 end */

/* media query */
@media only screen and (max-width:1352px) {
    #section_three .side_image {
        width: 50%;
    }

    #section_three .form_side .content {
        width: 80%;
    }
}

@media only screen and (max-width:1125px) {
    #section_two {
        height: 180vh;
    }

    #section_two .gallery {
        height: 70%;
    }
}

@media only screen and (max-width:1121px) {
    header .wrapper nav .nav-wrap #button {
        /* width: 15%;
        height: 20%; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--button-font-two);
    }

    header .wrapper nav .nav-wrap {
        width: 85%;
        height: 85%;
    }

    header .wrapper nav .nav-wrap .logo {
        width: 20%;
        height: 70%;
    }
}

@media only screen and (max-width:990px) {
    #section_three .side_image {
        width: 50%;
        height: 90%;
    }

    #section_three .form_side .content {
        width: 80%;
    }
}

@media only screen and (max-width:893px) {
    .container h1 {
        width: 55%;
        font-size: 42px;
    }

    .container p {
        width: 50%;
        font-size: 16px;
    }
}

@media only screen and (max-width:892px) {

    header .wrapper nav .nav-wrap .logo {
        width: 25%;
        height: 80%;
    }

    header .wrapper nav .nav-wrap #button {
        display: none;
    }

    header .wrapper nav .nav-wrap {
        display: flex;
        justify-content: space-between;
    }

    header .wrapper nav .nav-wrap .menu_icon {
        width: 55px;
        height: 40px;
        display: block;
        font-size: 40px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

    }

    /* header nav .nav-wrap ul li {
        display: none;
    } */

    header .wrapper nav .nav-wrap ul {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-direction: column;
        position: absolute;
        top: -100%;
        right: 0;
        background-color: #ffffff;
        color: black;
        width: 50%;
        height: 85%;
        text-align: center;
        padding: 10px 0;
    }

    #check:checked~ul {
        top: 10%;
    }
}

@media only screen and (max-width:885px) {
    #section_three .side_image {
        width: 60%;
        height: 90%;
    }

    #section_three .form_side .content {
        width: 90%;
    }

}

@media only screen and (max-width:810px) {
    #section_three .form_side .heading h2 {
        font-size: 20px;
    }

    #section_three .side_image {
        width: 50%;
        height: 100%;
    }

    #section_three .form_side {
        width: 50%;
        height: 100%;
    }

    /* #section_three{
        height: 100vh;
    }
 
    #section_three .form_side .content{
        width: 80%;
    } */
}

@media only screen and (max-width:798px) {
    #section_two {
        height: 150vh;
    }

    #section_two .content h1 {
        font-size: 28px;
    }
}

@media only screen and (max-width:718px) {
    #section_two .content h1 {
        font-size: 24px;
    }

    #section_two .content p {
        font-size: 14px;

    }
}

@media only screen and (max-width:704px) {
    #section_three .wrapper {
        width: 95%;
        height: 95%;
    }
}

@media only screen and (max-width:670px) {
    #section_three .form_side .heading h2 {
        font-size: 18px;
    }

    #section_three .form_side .heading p {
        font-size: 14px;
    }
}

@media only screen and (max-width:630px) {
    header .wrapper nav .nav-wrap .logo {
        width: 30%;
        height: 70%;
    }
}

@media only screen and (max-width:615px) {
    #section_two .content h1 {
        font-size: 22px;
    }

    #section_two .content p {
        font-size: 12px;

    }
}

@media only screen and (max-width:572px) {
    #section_three {
        height: 200vh;
    }

    #section_three .wrapper {
        flex-direction: column;
    }

    #section_three .side_image {
        width: 100%;
        height: 20%;
    }

    #section_three .form_side .heading h2 {
        font-size: 16px;
    }

    #section_three .form_side .heading p {
        font-size: 12px;
    }

    #section_three .form_side {
        width: 100%;
        height: 70%;
    }

    #section_three .form_side .content {
        width: 100%;
    }
}

@media only screen and (max-width:569px) {
    .container h1 {
        width: 60%;
        font-size: 42px;
    }
}

@media only screen and (max-width:555px) {
    #section_two .content h1 {
        font-size: 20px;
    }

    #section_two .content p {
        font-size: 12px;

    }
}

@media only screen and (max-width:521px) {
    .container h1 {
        width: 70%;
        font-size: 42px;
    }
}

@media only screen and (max-width:520px) {
    header .wrapper nav .nav-wrap .logo {
        width: 40%;
        height: 70%;
    }
}

@media only screen and (max-width:496px) {
    #section_two .content h1 {
        width: 80%;
        font-size: 22px;
    }

    #section_two .content p {
        width: 65%;
        font-size: 12px;

    }
}

@media only screen and (max-width:475px) {
    #section_two {
        height: 250vh;
        background-color: cadetblue;
    }

    #section_two .gallery .row_one,
    #section_two .gallery .row_two {
        height: 60%;
        /* background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #section_two .content {
        height: 15%;
        /* background-color: coral; */
    }

    #section_two .gallery {
        height: 90%;
    }

    #section_two .gallery .row_one .photo_one {
        width: 300px;
        height: 300px;
    }

    #section_two .gallery .row_two .photo_one {
        width: 300px;
        height: 300px;
    }

    #section_two .gallery .row_one .photo_two {
        width: 300px;
        height: 300px;
    }

    #section_two .gallery .row_two .photo_two {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width:447px) {
    .container h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width:425px) {
    .container h1 {
        font-size: 36px;
    }

    .container p {
        width: 70%;
    }
}

@media only screen and (max-width:410px) {
    #section_two h1 {
        font-size: 26px;
    }
}

@media only screen and (max-width:400px) {
    header .wrapper nav .nav-wrap .logo {
        width: 50%;
        height: 70%;
    }
}

@media only screen and (max-width:383px) {
    .container h1 {
        width: 80%;
    }
}

@media only screen and (max-width:345px) {
    #section_two {
        height: 270vh;
        background-color: rgb(17, 81, 83);
    }

    #section_two .content h1 {
        width: 90%;
    }

    #section_two .content p {
        width: 90%;

    }
}

@media only screen and (max-width:335px) {
    .container h1 {
        width: 85%;
    }
}

@media only screen and (max-width:320px) {
    header .wrapper nav .nav-wrap .logo {
        width: 60%;
        height: 70%;
    }
}